html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
}

body{
  background-color: rgb(0, 0, 0);
  .header {
  padding: 60px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
}
}

